@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: hsl(16, 100%, 4%);
	--background: hsl(20, 15%, 97%);
	--foreground: hsl(17, 79.5%, 7.6%);

	--ring: hsl(195, 100%, 50%);

	--input-background: hsl(20, 30%, 97.5%);
}
